input[type='text'] {
  display: inline-block;
  font-size: 24px;
  background: transparent;
  margin: 0 4px;
  height: 29px;
  padding: 0 4px;
  border: 0;
  border-bottom: 1px solid #FFF;
  color: #FFF;

  &:focus {
    border-bottom: 1px solid #FF0;
    color: #FF0;
    outline: none;
  }
}

button {
  display: inline-flex;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 0;
  background-color: transparent;
  height: 24px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #FF0;
    color: #FF0;
  }
  &:active {
    background-color: rgba(255,255,255,0.4);
  }

  &.square {
    width: 24px;
  }
}